---
import { format, parseISO } from "date-fns";
import Card from "../components/Card.astro";
import ImportantDatesBox from "../components/ImportantDatesBox.astro";
import LatestNewsBox from "../components/LatestNewsBox.astro";
import MainLayout from "../components/MainLayout.astro";
import NewsArticleList from "../components/NewsArticleList.astro";
import SidebarLayout from "../components/SidebarLayout.astro";
import UsefulInfoBox from "../components/UsefulInfoBox.astro";
import { getLatestNewsArticles } from "../lib/data";
import { generateImageUrl } from "../lib/images";

const newsArticles = await getLatestNewsArticles();

const article = newsArticles[0];
---

<MainLayout>
  <div class="w-full max-w-5xl mx-auto grid grid-cols-[1fr_22rem] gap-6">
    <div class="relative group rounded-xl overflow-hidden">
      <div
        class="absolute bg-cover bg-center inset-0"
        style={`background-image: url('${generateImageUrl(
          article.fields.image,
          800,
          1
        )}');`}
      >
      </div>
    </div>
    <LatestNewsBox />
  </div>
  <div class="mt-6 w-full max-w-5xl mx-auto grid grid-cols-2 gap-6 items-start">
    <ImportantDatesBox />
    <UsefulInfoBox />
  </div>
  <!-- <SidebarLayout>
    <NewsArticleList />
    <div class="space-y-8">
      <ImportantDatesBox />
      <UsefulInfoBox />
    </div>
  </SidebarLayout> -->
</MainLayout>
