---
import Container from "../components/Container.astro";
import ImportantDatesBox from "../components/ImportantDatesBox.astro";
import LatestNewsBox from "../components/LatestNewsBox.astro";
import MainLayout from "../components/MainLayout.astro";
import UsefulInfoBox from "../components/UsefulInfoBox.astro";
import { getFrontpage } from "../lib/data";
import { generateImageUrl } from "../lib/images";

const frontpage = await getFrontpage();
---

<MainLayout>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-[1fr_22rem] gap-6 mb-6 mx-4">
      <div
        class="relative group rounded-xl overflow-hidden min-h-[200px] md:min-h-[280px] lg:min-h-[384px]"
      >
        <div
          class="absolute bg-cover bg-center inset-0"
          style={`background-image: url('${generateImageUrl(
            frontpage.mainImage,
            800,
            1
          )}');`}
        >
        </div>
      </div>
      <LatestNewsBox count={4} />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start mx-4">
      <ImportantDatesBox />
      <UsefulInfoBox />
    </div>
  </Container>
</MainLayout>
