---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Card from "../../../../components/Card.astro";
import HandbookNav from "../../../../components/HandbookNav.astro";
import MainLayout from "../../../../components/MainLayout.astro";
import {
  getAllHandbooks,
  getArticleBySlug,
  getHandbookBySlug,
} from "../../../../lib/data";
import { notEmpty } from "../../../../lib/notEmpty";
import { parseJSON, format } from "date-fns";

export const getStaticPaths = async () => {
  const handbooks = await getAllHandbooks();

  return handbooks.flatMap((handbook) =>
    handbook.fields.content.filter(notEmpty).map((article) => ({
      params: {
        handbookSlug: handbook.fields.slug,
        articleSlug: article.fields.slug,
      },
    }))
  );
};

const { articleSlug, handbookSlug } = Astro.params;

const handbook = await getHandbookBySlug(handbookSlug);
const article = await getArticleBySlug(articleSlug);

if (!article || !handbook) {
  return new Response(null, { status: 404 });
}
---

<MainLayout title={article.fields.title}>
  <div class="flex">
    <div class="p-8 w-[20rem] print:hidden">
      <HandbookNav />
    </div>
    <Card className="p-8 w-[64rem] print:w-full">
      <div class="mb-4 font-medium text-gray-500">{handbook.fields.name}</div>
      <h1 class="font-medium text-4xl">
        {article.fields.title}
      </h1>
      <hr class="my-8" />
      <div class="prose max-w-none print:prose-sm">
        <div set:html={documentToHtmlString(article.fields.body)} />
      </div>
      <hr class="my-8" />
      <div class="mt-8 text-sm text-gray-500">
        Sist oppdatert: {format(parseJSON(article.sys.updatedAt), "dd.MM.yyyy")}
      </div>
    </Card>
  </div>
</MainLayout>
