---
import Card from "./Card.astro";
---

<div>
  <h2 class="mb-4 font-medium text-gray-500 text-sm">Viktige datoer</h2>
  <Card className="p-8">
    <ol class="space-y-4">
      <li>
        <span class="block text-sm font-medium">Lørdag, 20. mars 2023</span>
        <span class="text-gray-500 text-sm">Styremøte</span>
      </li>
      <li>
        <span class="block text-sm font-medium">Lørdag, 20. mars 2023</span>
        <span class="text-gray-500 text-sm">Styremøte</span>
      </li>
      <li>
        <span class="block text-sm font-medium">Lørdag, 20. mars 2023</span>
        <span class="text-gray-500 text-sm">Styremøte</span>
      </li>
    </ol>
  </Card>
</div>
