---
import type { Asset } from "contentful";
import { format, parseISO } from "date-fns";
import nb from "date-fns/locale/nb/index.js";
import { generateImageUrl } from "../lib/images";

type Props = {
  image: Asset;
  title: string;
  date: string;
  slug: string;
  isActive?: boolean;
};

const { image, title, date, slug, isActive } = Astro.props;
---

<a href={`/nyhet/${slug}`} class="group flex items-start gap-4 py-4">
  <div class="flex-shrink-0 w-16 h-16 rounded-xl overflow-hidden relative">
    <img
      src={generateImageUrl(image, 128, 1)}
      alt={image.fields.title}
      class="w-16 h-16 group-hover:scale-105 transition-transform duration-700"
    />
  </div>
  <div>
    <h2
      class={`font-bold font-montserrat group-hover:text-rose-600 transition-colors duration-700 leading-5 ${
        isActive && "text-rose-600"
      }`}
    >
      {title}
    </h2>
    <time class="text-gray-500 text-xs" datetime={date}
      >{format(parseISO(date), "d. MMMM yyyy", { locale: nb })}</time
    >
  </div>
</a>
