---
import { getLatestNewsArticles } from "../lib/data";
import LatestNewsBoxItem from "./LatestNewsBoxItem.astro";

type Props = {
  count: number;
  currentId?: string;
};

const articles = await getLatestNewsArticles();
---

<div class="rounded-xl border border-stone-200 px-6 md:px-8 py-2 md:py-4">
  <h2 class="font-bold font-montserrat text-xs text-gray-500 uppercase mt-4">
    Siste nytt
  </h2>
  <div class="divide-y">
    {
      articles
        .slice(0, Astro.props.count)
        .map((article) => (
          <LatestNewsBoxItem
            isActive={Astro.props.currentId === article.sys.id}
            {...article.fields}
          />
        ))
    }
  </div>
</div>
