---
import Header from "./Header.astro";
import "../css/print.css";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<html lang="nb">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    {title && <title>{title} - Hosle Huseierforening</title>}
    {!title && <title>Hosle Huseierforening</title>}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white">
    <Header />
    <slot />
  </body>
</html>
