---
import LatestNewsBoxItem from "./LatestNewsBoxItem.astro";
---

<div class="rounded-xl border border-stone-200 px-8 py-4">
  <h2 class="font-bold font-montserrat text-xs text-gray-500 uppercase mt-4">
    Nyttig informasjon
  </h2>
  <div class="grid grid-cols-2 my-8 gap-8">
    <div class="col-span-2">
      <h2 class="text-xs text-gray-500">E-post</h2>
      <p class="font-bold">
        <a
          href="mailto:hosle.huseierforening@gmail.com"
          class="hover:text-rose-600 transition-colors duration-700"
          >hosle.huseierforening@gmail.com</a
        >
      </p>
    </div>
    <div class="col-span-2">
      <h2 class="text-xs text-gray-500">Facebook-gruppe</h2>
      <p class="font-bold">
        <a
          href="https://www.facebook.com/groups/196648104164297"
          target="_blank"
          class="hover:text-rose-600 transition-colors duration-700"
          >facebook.com/groups/196648104164297</a
        >
      </p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Felleskostnad</h2>
      <p class="font-bold">2 190,-/mnd</p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Antall hus</h2>
      <p class="font-bold">43</p>
    </div>
  </div>
</div>
